*{
  font-family: 'Courier New', Courier, monospace;
}

body{
  padding: 60px;
}

input{
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
 align-content: center;
 border: 1px solid grey;
 border-radius: 6;
 margin-bottom: 20px;
 margin-right: 20px;
 overflow: hidden;
 /* display: flex; */
 justify-content: center;
 width: 350px;
 height: 350px;
}
 .card p {
 padding: 5px;
 text-align: center;
 }

 .card img {
    /* max-height: 170px; */
    width: 300px;
    height: 300px;
 }